version: "3.1"

services:
  javaclient:
    image: lamaud/rest-api:1.4
    command: target/rest-API-0.0.1-SNAPSHOT.jar
    ports:
    - "4000:8081"
    
  mongo:
    image: mongo
    volumes:
      - tockmongo:/data/db
      - $PWD/mongo-entrypoint/:/docker-entrypoint-initdb.d/
    restart: always
    ports:
    - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    volumes:
      - tockmongo:/data/db
    restart: always
    ports:
    - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      
volumes:
  tockmongo:
    